body {
    background-image: url('/src/client/styles/images/TAIM1.jpg');
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

.all{
    display: flex;
    align-content: space-between;
}
